<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <title>Navbar</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
</head>
<body class="bg-gray-100">
<footer class="bg-gradient-to-r from-[#1b160d] to-[#2a2316] text-white px-10 py-6">
  <div class="flex items-center justify-between">
      <!-- Right: Logo -->
      <div class="flex items-center gap-2 font-semibold">
        <i class="fa-solid fa-leaf"></i>
        <span>Brewly</span>
      </div>

    <!-- Left: Social -->
    <div>
      <p class="mb-2 text-sm">تواصل معنا</p>
      <div class="flex gap-4 text-lg">
        <i class="fa-brands fa-instagram cursor-pointer hover:text-amber-400"></i>
        <i class="fa-brands fa-x-twitter cursor-pointer hover:text-amber-400"></i>
        <i class="fa-brands fa-linkedin cursor-pointer hover:text-amber-400"></i>
      </div>
    </div>


  </div>
</footer>


</body>
</html>
